{
  "extends": "rallycoding",
  "rules": {
    "import/newline-after-import": false,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0
  },
  "env": {
    "mocha": true
  },
  "globals": {
    "angular": true,
    "app": true,
    "window": true,
    "io": true
  }
}
