{
  "extends": "rallycoding",
  "rules": {
    "import/newline-after-import": false,
    "no-param-reassign": 0
  },
  "env": {
    "mocha": true
  },
  "globals": {
    "app": true,
    "prompt": true,
    "$": true,
    "document": true
  }
}